.site-footer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 7.5rem;
    overflow: hidden;
}

    .site-footer__jump-to {
        @include f-sml;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        padding-top: 3.5rem;
        text-transform: uppercase;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background-color: transparent;
        z-index: 4;
        height: 71rem;
        width: 71rem;
        border-radius: 100%;
        background-color: cornflowerblue;

        &:hover {
            cursor: pointer;
        }
    }