@font-face {
    font-family: 'newake';
    src: url('../fonts/newake-font-webfont.woff2') format('woff2'),
         url('../fonts/newake-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}