// Type defaults

h1, h2, h3, h4, h5, h6, p, a, li, button {
    color: var(--text-color);
    font-family: var(--f-primary);
    margin: 0;
}

p {
    @include f-reg;
    margin-bottom: 3rem;
}

// Type styles

.section-title {
    @include f-section-title;
}